{% extends "views/_base.html" %}
{% from 'components/input-text/input-text.html' import inputText %}
{% from 'components/input-file/input-file.html' import inputFile %}
{% from 'components/input-radios/input-radios.html' import inputRadios %}

{% block content %}
<header>
	Upload photo here!<br>
	Or, <a href="/photos/">See your photos &rarr;</a>
</header>

<form name="upload" method="post" action="/photos" enctype="multipart/form-data" onsubmit="document.getElementById('savebutton').disabled = 'disabled'; document.getElementById('savebutton').innerText = 'Uploading photo...'">
	<fieldset>
		<legend>Upload file</legend>
		{{ inputFile('photo', 'Choose photo from disk', 'required') }}
		{{ inputText('date', 'Date and time taken (will be prefilled)', 'datetime-local', 'required') }}
	</fieldset>
	<fieldset>
		<legend>Optional details</legend>
		{{ inputText('credit', 'Photo credit', 'text') }}
		{{ inputText('caption', 'Caption', 'text') }}
	</fieldset>
	<div class="form-actions">
		<button id="savebutton" class="button" type="submit">Save photo</button>
		<p>Clicking ‘Save photo’ will upload your photo &amp; add your info to the database. Uploading can take a while; no progress is shown.</p>
		<p>Privacy disclaimer: image files are stored with <a tabindex="-1" href="https://cloudinary.com">Cloudinary</a> in the United States, everything else is stored with <a tabindex="-1" href="https://mlab.com">mLab</a> in Ireland.<br><br></p>
	</div>
</form>
{% endblock %}
