{% extends "views/_base.html" %}
{% from 'components/input-text/input-text.html' import inputText %}
{% from 'components/input-file/input-file.html' import inputFile %}
{% from 'components/input-radios/input-radios.html' import inputRadios %}

{% block content %}
<header>
	Upload photo here!<br>
	Or, <a href="/photos/">See your photos &rarr;</a>
</header>

<form name="upload" method="post" action="/photos" enctype="multipart/form-data" onsubmit="document.getElementById('savebutton').disabled = 'disabled'; document.getElementById('savebutton').innerText = 'Uploading photo...'">
	<fieldset>
		<legend>About your photo</legend>
		<p>Your personal information is stored in a 3<sup>rd</sup> party database (<a tabindex="-1" href="https://mlab.com">mLab</a>) in Ireland.<br><br></p>
		{{ inputText('credit', 'Photo credit', 'text') }}
		{{ inputText('caption', 'Caption', 'text') }}
		{{ inputText('date', 'Date taken', 'date', 'required') }}
	</fieldset>
	<fieldset>
		<legend>Upload time!</legend>
		<p>Photos are stored on a 3<sup>rd</sup> party cloud service (<a tabindex="-1" href="https://cloudinary.com">Cloudinary</a>) in the United States.<br><br></p>

		{{ inputFile('photo', 'Choose photo from disk', 'required') }}
	</fieldset>
	<div class="form-actions">
		<p>Clicking ‘Save photo’ will upload your photo &amp; add your info to the database. Uploading can take a while; no progress is shown. Hold tight!</p>
		<button id="savebutton" class="button" type="submit">Save photo</button>
	</div>
</form>
{% endblock %}
