{% extends "views/_base.html" %}
{% from 'components/input-text/input-text.html' import inputText %}
{% from 'components/input-file/input-file.html' import inputFile %}
{% from 'components/input-radios/input-radios.html' import inputRadios %}

{% block content %}
<header>
	<h1>Fotoboek</h1>
</header>

<form name="upload" method="post" action="/photos" enctype="multipart/form-data" onsubmit="document.getElementById('savebutton').disabled = 'disabled'; document.getElementById('savebutton').innerText = 'Uploading photo...'">
	<input type="hidden" name="date" id="date">
	<img src="#" id="photopreview" alt="" class="image-preview">
	{{ inputFile('photo', 'Choose photo from disk', 'required') }}
	{{ inputText('caption', 'Caption', 'text') }}
	{{ inputText('credit', 'Photo credit', 'text') }}
	<div class="form-actions">
		<button id="savebutton" class="button" type="submit">Save photo</button>&nbsp; or <a href="/photos/">manage your photos &rarr;</a>
	</div>
</form>
{% endblock %}
